<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= @user.followers.count %>

    <% if @user != @current_user %>
      <% follow_request = FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => @user.id }).at(0) %>

      <div>
        <% if follow_request == nil %>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_recipient_id" value="<%= @user.id %>">

            <button>
              Follow
            </button>
          </form>
        <% elsif follow_request.status == "pending" %>
          Request sent.

          <a href="/delete_follow_request/<%= follow_request.id %>">
            Cancel
          </a>
        <% elsif follow_request.status == "accepted" %>
          <a href="/delete_follow_request/<%= follow_request.id %>">
            Unfollow
          </a>
        <% end %>
      <% end %>
    </div>

    <% if @user == @current_user %>
      <h4>Pending follow requests</h4>

      <ul>
        <% @user.received_follow_requests.where({ :status => "pending" }).each do |follow_request| %>
          <li>
            <%= follow_request.sender.username %>

            <form action="/modify_follow_request/<%= follow_request.id %>" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>

            <form action="/modify_follow_request/<%= follow_request.id %>" method="post">
              <input name="query_status" value="rejected" type="hidden">
            
              <button>
                Reject
              </button>
            </form>
          </li>
        <% end %>
      </ul>
    <% end %>
  </dd>

  <dt>Following</dt>
  <dd><%= @user.following.count %></dd>

  <% if @current_user == @user %>
  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/<%= @user.id %>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="<%= @user.username %>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" <%= " checked" if @user.private %>>

      <button>Update user</button>
    </form>
  </dd>
  <% end %>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% @user.own_photos.order({ :likes_count => :desc }).each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(photo.created_at) %> ago
    </td>

    <td>
      <%= photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
